.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.go_open_dir ,
.go_open_dir_item > div {
	max-height: 100vh;
	overflow: auto;
}
.go_open_dir .list-group {
	padding-left: 10px;
	padding-top: 5px;
}
.go_open_dir .list-group-item.active a {
	color: white;
}
.go_open_dir .list-group-item a:first-child {
	width: calc(100% - 15px);
	display: block;
}
.go_open_dir .list-group-item a:last-child {
	position: absolute;
	right: 15px;
	top: 10px;
}

.go_open_dir_item .item {
	padding: 7.5px;
}

@media only screen and (max-width: 768px) {
	.go_open_dir {
		max-height: 50vh;
	}
}
